@model newsapp.ViewModels.ArticleViewModel
@{
    Layout = "_Layout";
}
<div class="row">
    <div class="row">
        <img src="@Model.Image" alt = "@Model.Title">
    </div>
    <div class="row">
        <h2>@Model.Title</h2>
    </div>
    <div class="row">
        <div class="col-12">
            @Html.Raw(Model.Content)
        </div>
    </div>
    <div class="row">
        <p>
            Publicado el @Model.Published.ToString("dd/MM/yyyy")
        </p>
    </div>
</div>
@section Scripts{
}